<div class="card shadow-sm flex-grow-1 mt-4">
	<div class="card-header">
		<h2 class="h4 text-secondary">Registered Agents</h2>
	</div>

	<!-- Display agents in a responsive table -->
	<div class="card-body">
		<div class="table-responsive">
			<table id="agents" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>IP Address</th>
						<th>Registered</th>
						<th>Last Seen</th>
						<th>Action</th>
					</tr>
				</thead>

				<!-- Place javascript will insert the agents entry to -->
				<tbody></tbody>
			</table>
		</div>
	</div>
</div>

