numpy
langchain
langchain-community
langchain-huggingface
langchain-chroma
chromadb==1.4.0
sentence-transformers
python-dotenv
pdfplumber
fastapi
pandas
langchain-ollama
duckduckgo-search
ddgs
IPython