langchain==1.2.7
langgraph==1.0.10
langchain-community==0.4.1
langchain-chroma==1.1.0
langchain-ollama==1.0.1
chromadb==1.4.0
python-dotenv==1.2.1
pdfplumber==0.11.9
fastmcp==2.14.6
pymetasploit3==1.0.6
setuptools==68.1.2
